/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}


@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-ExtraBold.eot');
    src: local('Benzin ExtraBold'), local('Benzin-ExtraBold'),
        url('../fonts/Benzin-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benzin-ExtraBold.woff2') format('woff2'),
        url('../fonts/Benzin-ExtraBold.woff') format('woff'),
        url('../fonts/Benzin-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Medium.eot');
    src: local('Benzin Medium'), local('Benzin-Medium'),
        url('../fonts/Benzin-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benzin-Medium.woff2') format('woff2'),
        url('../fonts/Benzin-Medium.woff') format('woff'),
        url('../fonts/Benzin-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Bold.eot');
    src: local('Benzin Bold'), local('Benzin-Bold'),
        url('../fonts/Benzin-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benzin-Bold.woff2') format('woff2'),
        url('../fonts/Benzin-Bold.woff') format('woff'),
        url('../fonts/Benzin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Semibold.eot');
    src: local('Benzin Semibold'), local('Benzin-Semibold'),
        url('../fonts/Benzin-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benzin-Semibold.woff2') format('woff2'),
        url('../fonts/Benzin-Semibold.woff') format('woff'),
        url('../fonts/Benzin-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benzin';
    src: url('../fonts/Benzin-Regular.eot');
    src: local('Benzin Regular'), local('Benzin-Regular'),
        url('../fonts/Benzin-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Benzin-Regular.woff2') format('woff2'),
        url('../fonts/Benzin-Regular.woff') format('woff'),
        url('../fonts/Benzin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}




/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #F6F6F5;
    --scroll_width: 17px;
    --text_color: #224FD6;
    --font_size: 22px;
    --font_size_title: 48px;
    --font_family1: 'Benzin';
    --font_family2: 'Raleway';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

body.menu_open {
    overflow: hidden;
}
#top .mob_menu_btn {
    display: none;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .mob_menu_btn {
    display: none;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .close_btn {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 103;
}

header .close_btn {
    width: 49px;
    height: 49px;
    background: #FFFFFF;
    opacity: 0.3;
    border: 1px solid #FFB800;
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: center;
}

header .close_btn img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

header {
    padding: 29px 0;
    position: relative;
}
header:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    background: rgba(7, 12, 15, 0.05);
    width: 1132px;
    height: 1132px;
    top: -400px;
    left: -400px;
}
header .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 801px);
    margin-top: -17px;
}

header .menu .item a {
    text-decoration: none;
    color: #3D3D3D;
    font-family: var(--font_family2);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 103.295%; 
    transition: all .4s;
    white-space: nowrap;
    margin-right: 15px;
    display: block;
}

header .menu .item a:last-child {
    margin-right: 0;
}

header .menu .item a:hover {
    color: var(--text_color);
}

.header .menu .item a:active {
    color: var(--text_color);
}

.header_logo {
    text-decoration: none;
}
.header_logo b {
    color: var(--text_color);
    font-family: "Racing Sans One";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}
.header_logo span {
    color: var(--text_color);
    font-family: var(--font_family2);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    display: block;
    line-height: 1; 
}



.first-section {
    padding: 62px 0 70px;
}
.first-section_wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
}
.first-section_info {
    max-width: 880px;
}
.first-section_title {
    color: #3F3F3F;
    font-family: var(--font_family1);
    font-size: var(--font_size_title);
    font-style: normal;
    font-weight: 400;
    line-height: 116.667%;
    text-transform: uppercase;  
}
.first-section_title span {
    display: block;
}
.first-section_title span:first-child {
    white-space: nowrap;
}
.first-section_img {
    margin-right: -150px;
    margin-top: -50px;
    width: 1005px;
    height: 623px;
    flex-shrink: 0;
}
.first-section_img-mob {
    display: none;
    margin-right: 0;
    width: 100%;
    height: auto;
}
.first-section_img img {
    width: 100%;
    height: 100%;
}
.first-section_info ul {
    list-style: none;
    margin-top: 57px;
    margin-bottom: 91px;
    display: flex;
    max-width: 634px;
    width: 100%;
    justify-content: space-between;
}
.first-section_info ul li {
    color: #3F3F3F;
    font-family: var(--font_family2);
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 103.295%; 
}
.first-section_info ul li b {
    font-weight: 700;
}
.btn {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: var(--font_family2);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;  
    width: 362px;
    height: 63px;
    border-radius: 12.827px;
    background: radial-gradient(90.77% 90.77% at 50% 9.23%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #FFD400; 
    transition: all .4s;
}
.btn:hover {
    background: var(--text_color);
    color: #fff;
}


.training {
    padding-bottom: 109px;
}
.title {
    color: #3F3F3F;
    font-family: var(--font_family1);
    font-size: var(--font_size_title);
    font-style: normal;
    font-weight: 400;
    line-height: 117%; 
    text-transform: uppercase;
    margin-bottom: 37px;
}
.training_title b {
    font-weight: 700;
}
.training_items {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.training_item {
    padding: 28px 0 0 20px;
    border-radius: 32px;
    background: #FFF;
    width: 33%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: calc(100%/4 - 30px);
}
.training_item-info {
    max-width: 400px;
}
.training_item-title {    
    color: #000;
    font-family: var(--font_family2);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.training_item-text {
    color: #4E4E4E;
    font-family: var(--font_family2);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.training_item-text b {
    font-weight: 700;
}
.training_item-img {
    text-align: end;
    margin-top: auto;
    margin-left: auto;
    width: 182px;
    height: 185px;
}
.training_item-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.program {
    padding-bottom: 70px;
}
.program_title {
    margin-bottom: 44px;
}
.program_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}
.program_item {
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
    background: #FFF;
    padding: 25px 0px 0px 40px;
    overflow: hidden;
    width: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    position: relative;
}
.program_item:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--text_color);
    right: -78%;
    top: 0;
    border-radius: 20px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    z-index: 0;
}
.program_item.hide {
    display: none;
}
.link-more.btn {
    margin: 14px auto 0;
}
.link-more.active {
    display: none;
}
.program_item-info {
    padding: 9px 0 72px 0;
}
.program_item:nth-child(1) .program_item-info {
    width: calc(100% - 230px);
}
.program_item:nth-child(2) .program_item-info {
    width: calc(100% - 255px);
}
.program_item:nth-child(3) .program_item-info {
    width: calc(100% - 320px);
}
.program_item:nth-child(4) .program_item-info {
    width: calc(100% - 340px);
}
.program_item:nth-child(5) .program_item-info {
    width: calc(100% - 380px);
}


.program_item-title {
    color: #000;
    font-family: var(--font_family2);
    font-size: var(--font_size_title);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
}
.program_item-text {
    color: #4E4E4E;
    font-family: var(--font_family2);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.program_item-icon {
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg); 
    display: flex;
    align-items: center;
    justify-content: start;
}
.program_item-icon img {
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}
.program_item:nth-child(4),
.program_item:nth-child(5) {
    width: calc(100%/2 - 30px);
}



.plan {
    padding-bottom: 77px;
}

.plan_top {
    display: flex;
    gap: 30px;
}
.plan_top > * {
    width: calc(100%/2 - 30px);
}
.plan_top-item {
    border-radius: 32px;
    background: var(--text_color);
    padding: 36px;
    color: #FFF;
    font-family: var(--font_family2);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 50%;   
}
.plan_subtitle {
    color: #4E4E4E;
    font-family: var(--font_family2);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 26px 0 18px;
}
.plan_bottom {
    display: flex;
    gap: 30px; 
}
.plan_bottom-item-info {
    width: calc(100% - 160px);
}
.plan_bottom-item {
    border-radius: 32px;
    background: var(--text_color);
    padding: 36px;
    color: #FFF;
    font-family: var(--font_family2);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    position: relative;
    padding: 36px;
    overflow: hidden;
    width: 50%;
}
.plan_bottom-item-img {
    position: absolute;
    bottom: -103px;
    right: -60px;
}
.plan_bottom-title {
    font-weight: 600;
    margin-bottom: 20px;
}
.plan_bottom-item ul {
    padding-left: 22px;
}



.callback {
    padding-bottom: 43px;
}
.callback_title {
    margin-bottom: 141px;
}
.callback_wrap {
    position: relative;
    z-index: 1;
    margin: 90px auto;    
}
.callback_wrap:before {
    position: absolute;
    content: "";
    width: 1099px;
    height: calc(100% + 180px);
    background: var(--text_color);
    left: -950px;
    top: -90px;
    border-radius: 63px;
    -webkit-transform: skew(-16deg);
	-moz-transform: skew(-16deg);
	-o-transform: skew(-16deg);      
    z-index: -1;
}
.callback_wrap:after {
    position: absolute;
    content: "";
    width: 1099px;
    height: calc(100% + 180px);
    background: var(--text_color);
    right: -950px;
    top: -90px;
    border-radius: 63px;
    -webkit-transform: skew(-16deg);
	-moz-transform: skew(-16deg);
	-o-transform: skew(-16deg);      
    z-index: -1;
}
.callback_form {
    z-index: 222;
    position: relative;
    padding: 107px 142px 184px 77px;
    background: #fff;
    border-radius: 32px;
}
.callback_form-img {
    display: none;
}
.callback_form-title {
    color: #000;
    font-family: var(--font_family1);
    font-size: var(--font_size_title);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 44px;
}
.callback_form-text {
    color: #4E4E4E;
    font-family: var(--font_family2);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 27px;
}
.callback_form .line {
    display: flex;
    gap: 15px;
}
.callback_form .line .field {
    border: 1px solid #707070;
    border-radius: 15px;
    -webkit-transform: skew(-15deg);
	-moz-transform: skew(-15deg);
	-o-transform: skew(-15deg);  
    height: 60px;
    padding: 0 30px;  
    max-width: 300px;
}
.callback_form .line input {
    -webkit-transform: skew(15deg);
	-moz-transform: skew(15deg);
	-o-transform: skew(15deg);  
    border: none;
    color: #4E4E4E;
    font-family: var(--font_family2);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}
.callback_form .line input::placeholder {
    color: #4E4E4E;
    font-family: var(--font_family2);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}
.callback_form button {
    transition: all .4s;
    border-radius: 10px;
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg); 
    width: 281px;
    height: 60px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: var(--font_family2);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: radial-gradient(85.13% 90.77% at 46.89% 9.23%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), var(--text_color);
}
.callback_form button:hover {
    background: radial-gradient(90.77% 90.77% at 50% 9.23%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), #FFD400;
    color: #000;
}
.callback_form button span {
    -webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);   
    display: block;
}
.callback_img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 555;
    width: 713px;
    height: 525px;
    margin-top: -30px;
}
.callback_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.step {
    padding-bottom: 56px;
}
.step_items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 36px;
    column-gap: 30px; 
}
.step_item:nth-child(1) {
    width: calc(100%/2 - 30px);
}
.step_item:nth-child(2) {
    width: calc(100%/2 - 30px);
}
.step_item:nth-child(3) {
    width: calc(100%/3 - 30px);
}
.step_item:nth-child(4) {
    width: calc(100%/3 - 30px);
}
.step_item:nth-child(5) {
    width: calc(100%/3 - 30px);
}
.step_item:nth-child(6) {
    width: calc(100%/2 - 30px);
}
.step_item:nth-child(7) {
    width: calc(100%/2 - 30px);
}
.step_item {
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
    background: #FFF;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 25px 0 0 40px;
} 
.step_item-icon {
    color: #FFF;
    font-family: var(--font_family2);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;    
    -webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);    
    width: 224px;
    height: 100%;
    background: var(--text_color);
    margin-right: -115px;
    border-top-left-radius: 20px;
    min-height: 100px;
}
.step_item-title {
    color: #4E4E4E;
    font-family: var(--font_family2);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: calc(100% - 170px);
    padding-bottom: 20px;
}
.step_item-icon img {
    display: block;
    margin-left: 30px;
    -webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);   
}
.step_item-icon span {
    display: block;
    margin-left: 40px;
    -webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);   
}




.price {
    position: relative;
    z-index: 1;
    padding: 20px 0 48px;
    margin-bottom: 87px;
    background: #fff;
}
.price:before {
    position: absolute;
    content: "";
    width: calc(100% - 504px);
    height: 100%;
    background: var(--text_color);
    right: calc(100% - 224px);
    top: -60px;
    z-index: 0;
}
.price:after {
    position: absolute;
    content: "";
    width: 1099px;
    height: calc(100% + 110px);
    background: var(--text_color);
    right: -700px;
    top: -60px;
    border-radius: 63px;
    -webkit-transform: skew(-16deg);
    -moz-transform: skew(-16deg);
    -o-transform: skew(-16deg);
    z-index: 1;
}
.price .cont:before {
    position: absolute;
    content: "";
    width: calc(100% - 504px);
    height: calc(100% + 160px);
    background: var(--text_color);
    right: calc(100% - 400px);
    top: -80px;
    border-radius: 63px;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    z-index: 0;
}
.price_wrap {
    display: flex;
    gap: 46px;
}
.price_info {
    margin-left: 424px;
}
.price_title {
    padding-left: 60px;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: var(--font_family1);
    margin-bottom: 10px;
    z-index: 11;
    position: relative;
}
.price_title span {
    color: #fff;
}
.price_summa {
    color: var(--text_color);
    font-family: var(--font_family1);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    white-space: nowrap;
}
.price_category {
    color: var(--text_color);
    font-family: var(--font_family1);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 31px;
}
.price_img {
    z-index: 2;
    margin-top: -117px;
}
.btn-mob {
    display: none;
}



.bottom-block {
    padding: 57px 0 82px;
    background: var(--text_color);
}
.bottom-block .callback_form {
    background: none;
    padding: 0;
}
.bottom-block .callback_form-title {
    color: #fff;
    margin-bottom: 16px;
}
.bottom-block .callback_form-text {
    color: #FFF;
    font-family: var(--font_family2);
    font-size: var(--font_size);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}
.bottom-block .callback_form .line .field {
    background: #fff;
}
.bottom-block .callback_form button {
    color: #000;
    background: linear-gradient(0deg, #FFD400 0%, #FFD400 100%), var(--text_color);
}




footer {
    padding: 36px 0;
    background: #4E4E4E;
}
footer .header_logo b,
footer .header_logo span {
    color: #fff;
}
footer .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 801px);
}
footer .menu .item a {
    text-decoration: none;
    color: #fff;
    font-family: var(--font_family2);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 103.295%; 
    white-space: nowrap;
    margin-right: 15px;
    display: block;
}
footer .menu .item a:last-child {
    margin-right: 0;
}
footer .menu .item:hover  a{
    color: #FFD400;
}




.modal {
    max-width: 300px;    
    padding: 80px 25px;
    border-radius: 15px;
    display: none;
}
.modal_title{
    color: var(--text_color);
    font-family: var(--font_family1);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}
.fancybox__content>.carousel__button.is-close {
    top: 0px;
}